.logotxt {
    /* border: 2px solid rgb(155, 206, 15); */
    display: inline-block;
    position: absolute;
    left: 65px;
    top: 16px;
}

.navbar2 {
    display: inline-block;
}

.navbar2 li {
    font-size: 22px;
    justify-items: center;
    text-decoration: none;
    font-weight: 900;
    display: inline-block;
}

.navbar2 li a {
    padding: 10px;
    color: #f6f3ed;
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    margin: 20px 6px 6px 190px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 22px;
    background-color: #caff00;
    border:2px solid #caff00;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px ;
    font-weight: bold;
}

.btn:hover{
    border:2px solid #caff00;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    margin: -3px 0px 7px 130px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 22px;
    background-color: #caff00;
    border:2px solid #caff00;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px ;
    font-weight: bold;
}

.btn2:hover{
    border:2px solid #caff00;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
